server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    remoteip:
      protocol-header: x-forwarded-proto

spring:
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    generate-ddl: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
  config:
    import:
      - classpath:/application.yml
      - classpath:/application-db.yml
      - classpath:/application-auth.yml
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

